<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <tbody>
        <tr th:each="question : ${questions}">
            <td th:text="${question.name}"></td>
            <td><a th:href="@{/test/answer/__${question.id}__}">zobacz odpowiedzi</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>