<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <legend>Dodanie Pytania</legend>
    <a align="right" aria-pressed="true" class="btn btn-primary active" role="button" th:href="@{/questions}">Strona
        główna</a>
    <fieldset>
        <legend>Odpowiedź</legend>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${exception}">
            <div th:text="${message}"></div>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </fieldset>
    <!--input start-->
    <form method="post" th:action="@{/questions/add}" th:object="${questionToAdd}">
        <div class="form-group">
            <textarea aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"
                      placeholder="Napisz Pytanie"
                      th:field="*{name}" type="text"></textarea>
            <label>Wybierz kategorię</label>
            <select class="form-control selectpicker" th:attr="name='categoryId'" th:field="*{categoryId}" type="text">
                <option value="">Brak wyboru</option>
                <option th:each="category : ${categories}"
                        th:text="${category.name}"
                        th:value="${category.id}">kategoria
                </option>
            </select>
            <button class="btn btn-primary" type="submit">Zapisz Pytanie</button>
        </div>
    </form>
    <!--input end-->
</div>
</body>
</html>