<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <legend>Pytania</legend>
    <div class="form-group">
        <form method="get" th:action="@{/questions/category}">
            <label>Wybierz kategorię</label>
            <select class="form-control selectpicker" th:attr="name='id'" type="text">
                <option value="">Brak wyboru</option>
                <option th:each="category : ${categories}"
                        th:text="${category.name}"
                        th:value="${category.id}">kategoria
                </option>
            </select>
            <button class="" type="submit">Filtruj</button>
        </form>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
            <td><a th:href="@{/questions/add}">dodaj pytanie</a></td>
            </td></tr>
        <tr th:each="question : ${questions}">
            <td th:text="${question.name}"></td>
            <td th:if="${question.getCreationDate() > offsetDateTime}"><a th:href="@{/questions/__${question.id}__}">edytuj
                pytanie</a>
            </td>
            <td><a th:href="@{/answers/__${question.id}__}">szczegóły</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>