<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="title">Pytanie:</div>
    <br>
    <table class="table table-striped">
        <tbody>
        <tr th:each="question : ${question}">
            <td th:text="${question.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div class="container">
    <div class="title">Odpowiedzi:</div>
    <br>
    <table class="table table-striped">
        <tbody>
        <tr th:each="answer : ${answers}">
            <td th:text="${answer.body}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>