<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">

    <fieldset>
        <div class="form-group">
            <form method="post" th:action="@{/categories/update}" th:object="${categoryToUpdate}">
                <legend>Edytuj kategorię</legend>
                <label>Wprowadź poprawną nazwę kategorii <input type="text"></label>
                <button class="btn btn-primary" type="submit">Zapisz</button>
            </form>
        </div>
    </fieldset>
    <!--input end-->
    <a align="right" aria-pressed="true" class="btn btn-primary active" role="button" th:href="@{/categories}">Strona
        główna</a>
</div>
</form>
</div>
</body>
</html>